.shell {
  display: grid;
  grid-template-columns: 270px 1fr;
  min-height: 100vh;
  background: #f7fafc;
}

.main {
  display: grid;
  grid-template-rows: 56px 1fr; /* combina com a topbar */
  min-width: 0;
}

.content {
  padding: 28px;
  min-width: 0;
}
