/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import './app/core/design/design-tokens.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: var(--font-family-base);

  background: var(--color-background-app);
  color: var(--color-text-primary);
}

h1, h2, h3 {
  letter-spacing: var(--letter-spacing-heading);
}



/* ============================= */
/* BACKDROP — FUNDO COM BLUR     */
/* ============================= */
.app-dialog-backdrop {
  background: rgba(0, 0, 0, 0.45); /* escurece o fundo */
  backdrop-filter: blur(6px);      /* desfoca o conteúdo atrás */
  -webkit-backdrop-filter: blur(6px); /* suporte Safari */
}

/* ============================= */
/* PAINEL — MODAL FLUTUANTE      */
/* ============================= */
.app-dialog-panel .cdk-dialog-container {
  padding: 0;                /* remove padding padrão do CDK */
  border-radius: 16px;       /* bordas suaves (igual mock) */
  overflow: hidden;          /* header arredondado não vaza */
  background: transparent;   /* deixa o .dialog mandar no branco */

  /* sombra que dá sensação de profundidade */
  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.25),
    0 8px 20px rgba(0, 0, 0, 0.15);
}

